@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-bg: #0B0D12;
  --color-primary: #7C4DFF;
  --color-accent: #00E5FF;
  --color-text: #FFFFFF;
  --font-body: var(--font-jakarta);
  --font-heading: var(--font-sora);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jakarta);
  --font-mono: var(--font-sora);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* globals.css */
.flex::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
.flex {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  
}

body {
  background: var(--color-bg);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-body {
  font-family: var(--font-body);
}

.font-heading {
  font-family: var(--font-heading);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

span , p{
  font-family: var(--font-body);
}