@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Sora:wght@100..800&family=Zen+Dots&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-bg: #0b0d12;
  --color-primary: #7c4dff;
  --color-accent: #00e5ff;
  --color-text: #ffffff;
  --font-body: var(--font-jakarta);
  --font-heading: var(--font-sora);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jakarta);
  --font-mono: var(--font-sora);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* globals.css */
.flex::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
.flex {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.sora {
  font-optical-sizing: auto;
  font-style: normal;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background: var(--color-bg);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-body {
  font-family: var(--font-body);
}

.font-heading {
  font-family: var(--font-heading);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: var(--font-heading); */
  font-family: "Zen Dots", sans-serif;
}

span,
p {
  /* font-family: var(--font-body);  */
  font-family: "Sora", sans-serif;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-right {
  animation: fadeInRight 0.6s ease-out forwards;
}

.text-shadow-2xl {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}
